.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #f9f9f9;
}

form {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 250px;
}

h2 {
  font-size: 18px;
  color: #ff9800; /* Cor laranja que remete a delivery */
  margin-bottom: 10px;
}

form input {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

form input:focus {
  outline: none;
  border-color: #ff9800; /* Cor laranja */
}

form input:focus::placeholder {
  transform: translateY(-10px);
  font-size: 12px;
  opacity: 0.7;
  color: #ff9800;
}

form button {
  padding: 10px;
  font-size: 16px;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #e68900;
}

.google-map {
  height: 400px;
  width: 500px;
  border: 2px solid #ff9800;
  border-radius: 10px;
}
