<div class="container">
  <!-- Título do formulário de origem -->
  <div class="formulario-origem">
    <h2>Origem</h2>
    <form>
      <input type="text" [(ngModel)]="endereco" placeholder="Endereco" name="endereco" required>
      <input type="text" [(ngModel)]="cidade" placeholder="Cidade" name="cidade" required>
      <input type="text" [(ngModel)]="estado" placeholder="Estado" name="estado" required>
    </form>
  </div>

  <!-- Título do formulário de destino -->
  <div class="formulario-destino">
    <h2>Destino</h2>
    <form>
      <input type="text" [(ngModel)]="enderecoDestino" placeholder="EnderecoDestino" name="enderecoDestino" required>
      <input type="text" [(ngModel)]="cidadeDestino" placeholder="Cidade" name="cidadeDestino" required>
      <input type="text" [(ngModel)]="estadoDestino" placeholder="EstadoDestino" name="estadoDestino" required>
      <button type="submit" (click)="getRoutes()">Obter Rota</button>
    </form>
  </div>

  <!-- Google Maps -->
  <google-map class="google-map" [center]="center" [zoom]="zoom">
    <map-directions-renderer *ngIf="directionsResults$ | async as directionsResults" [directions]="directionsResults"></map-directions-renderer>
  </google-map>
</div>

<router-outlet></router-outlet>
